.user{
    background: black;
    padding: 100px;
    .box{
        width: 500px;
        margin: 0 auto;
        text-align: center;
        background: white;
        padding: 20px;
        .img{

        }
        .overview{
            color: #000;
            margin: 20px 0;
        }
        .averageBox{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .icon{color: red; vertical-align: middle;}
            .voteAverage{
                color: red;
                font-size: 20px;
                display: inline;
                font-weight: bold;
            }
        }
    }
}